* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 200px;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

.section {
    padding: 0 6rem;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.logo {
    padding: 2px 12px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #1E90FF;
    border: 2px solid #1E90FF;
    border-radius: 8px;
}

.navlist {}

.navitem {
    padding: 8px 20px;
    margin: 0 10px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #FFF;
    background-color: #1E90FF;
    border-radius: 20px;
}

.main__section {
    display: flex;
    justify-content: space-between;
}

.text__section {
    width: 100%;
    margin-top: 8rem;
}

.header__text {
    font-size: 60px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #000000;
}

.header__about {
    font-size: 30px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #000;
}

.call__btn {
    margin: 15px 5px;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 400;
    background-color: #1E90FF;
    display: inline-flex;
    border-radius: 20px;
}

.call__btn a {
    color: #FFFF;
    font-family: 'Poppins', sans-serif;

}

.image {
    width: 100%;
}

.image img {
    width: 90%;
}