* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 200px;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

.section {
    padding: 0 6rem;

}

.navbar__section {
    width: 100%;
    position: fixed;
    background-color: #FFF;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.logo {
    padding: 2px 12px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #1E90FF;
    border: 2px solid #1E90FF;
    border-radius: 8px;
}

.navitem {
    padding: 8px 20px;
    margin: 0 10px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #FFF;
    background-color: #1E90FF;
    border-radius: 20px;
}.main__section {
    width: 100%;
    min-height: 90vh;
}
.landing__container {
   display: flex;
   align-items: center;
}

.text__section {
    width: 55%;
    margin-top: 8rem;
}

.header__text {
    font-size: 60px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #000000;
}

.header__about {
    font-size: 30px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #000;
}

.call__btn {
    margin: 15px 5px;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 400;
    background-color: #1E90FF;
    display: inline-flex;
    border-radius: 20px;
}

.call__btn a {
    color: #FFFF;
    font-family: 'Poppins', sans-serif;
}
.image__container {
    width: 40%;
    margin-top: 4rem;
}

.image__section {
    width: 400px;
    height: 450px;
}
.image__section img {
    width: 100%;
    height: 100%;
}

.section__container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    margin-top: 5rem;
}
.image--section--one {
    width: 100%;
}
.image--section--one img {
    width: 100%;
    border-radius: 10px;
}

.tex--section--one {
    width: 100%;
    margin-left: 2rem;
}

.tex--section--one h3 {
    margin: 10px 0;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.intro {
    margin: 10px 0;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.intro__green {
    color: #4BC063;
    display: inline-flex;
    font-weight: 500;
}

.services {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.services__items {
    color: #1E90FF;
    font-weight: 500;
}

.button {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.button a {
    padding: 10px;
    background-color: #1E90FF;
    color: #FFF;
}

.button a:hover {
    background-color: rgb(68, 67, 67);
}

.section--two--container {
    margin: 50px 0;
    display: flex;
    justify-content: space-around;
    background-color: #eee;
    border-radius: 10px;
}

.service {
    margin: 10px;
    width: 265px;
    height: 165px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.service__image {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.bkash {
    background-color: #DC143C;
}

.nagad {
    background-color: #F51916;
}

.rocket {
    background-color: #4B0082;
}

.sure__cash {
    background-color: #FBE447;
}

.nagad--img {
    background-color: #FFF;
}

.service__image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.service__title {
    font-size: 30px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.product__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-gap: 3px; */
}

.product__one {
    width: 570px;
    height: 570px;

}

.product__one img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.product__two {
    padding: 3px;
    width: 580px;
    height: 285px;

}

.product__two img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.product__three {
    width: 580px;
    height: 285px;
}

.product__three img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.contact__container {
    margin-top: 3rem;
    display: flex;
}

.map iframe {
    border-radius: 10px;
}

.contact_details {
    /* margin-top: 7rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.contact__info h3 {
    font-size: 26px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #17bf63;
    display: flex;
    align-items: center;
}

.contact__info .bx-current-location {
    margin: 0 10px;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #17bf63;
}

.contact__info p {
    margin-top: 10px;
    margin-left: 2rem;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.phone__info {
    margin-top: 20px;
}

.phone__info h3 {
    font-size: 26px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #17bf63;
    display: flex;
    align-items: center;
}

.phone__info .bx-phone {
    margin: 0 10px;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #17bf63;
}

.phone__info p {
    margin-top: 10px;
    margin-left: 2rem;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.message__info {
    margin-top: 20px;
}

.message__info h3 {
    font-size: 26px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #17bf63;
    display: flex;
    align-items: center;
}

.message__info .bx-mail-send {
    margin: 0 10px;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #17bf63;
}

.message__info p {
    margin-top: 10px;
    margin-left: 2rem;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.footer__section {}

.footer__container {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1rem 1rem;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EEEEEE;
    border-radius: 20px;
}